.home-page {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.home-page::-webkit-scrollbar {
  width: 0px;
}

@media only screen and (max-width: 479px) {
  .home-page {
    overflow-x: hidden;
  }
}
