.default-layout {/*
  background-image: url('../../images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden; */
  transition: 1s;
  background-color: #E1ECEB;
}
.global-card__floating_button {
  position: fixed !important;
  right: 0;
  top: 0;
}