
.default-layout {
  transition: 1s;
  overflow-y: hidden;
}
.global-card__floating_button {
  position: fixed !important;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 900px) {
  .global-card__floating_button {
    display: none !important;
  }
}
.outlet {

}