@import "../variables.scss";

.nav-bar {
  // background-color: #425C5A;
  position: relative;
  color: $navbar-TextColorLight;
  border-radius: 0px;
  // padding: 15px;
  height: 100%;
  transition: 1s;
  z-index: 999;
}

.navbar__title_avatar {
  outline: 2px solid $navbar-IconColor;
  outline-offset: 5px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.navbar__title {
  background-color: #3D5654;
  // border-radius: 25px 25px 0px 0px;
  padding: 15px;
  height: 40vh;
}

.navbar__title_name {
  font-size: large;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: $navbar-TextColorLight;
}
.navbar__title_email {
  font-weight: 400;
  font-size: small;
  color: $navbar-TextColorLight;
}

.navbar__element:not(.active) {
  padding: 15px 10px;
}
.navbar__element {
  cursor: pointer;
  padding-left: 10px;
  font-weight: 500;
  border-radius: 0px;
  background-color: #425C5A;
  color: $navbar-TextColorLight;
  gap: 15px;
  .active {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 15px 10px;
    align-content: center;
    color: #3D5654;
    background-color: #E1ECEB;
    border-radius: 25px 0px 0px 25px;
    // margin-left: 15px;
  }

}

.navbar__element:has(+.navbar__element.active)  {
  border-radius: 0px 0px 25px 0px;
}
.navbar__element.active + .navbar__element  {
  border-radius: 0px 25px 0px 0px;
}
.navbar__spacer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #425C5A;
  color: transparent;
}
.navbar__hamburger {
  display: none;
}
.navbar__title_avatar_mobile {
  display: none;
}

@media only screen and (max-width: 479px) {
  .navbar__title_avatar_mobile_hidden {
    display: none !important;
  }
  .navbar__title_avatar_mobile {
    display: block;
  }
  .nav-bar__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #425C5A, $alpha: 0.4);
    z-index: 998 !important;
  }
  .navbar__hamburger {
    display: block;
  }
  .nav-bar__open {
    transition: 1s;
    height: 60vh;
  }
  .nav-bar__close {
    height: 100%;
  }
  .nav-bar {
    border-radius: 0px !important;
    overflow: hidden;
    z-index: 999;
  }
  .navbar__title {
    background-color: #425C5A;
    // border-radius: 25px 25px 0px 0px;
    padding: 20px 15px;
    padding-bottom: 30px;
    .navbar__title_avatar,
    .navbar__title_name,
    .navbar__title_email {
      display: none;
    }
  }
  .navbar__spacer {
    /* padding-top: 10px;
    border-radius: 0px 0px 25px 25px; */
  }
  .navbar__element:has(+.navbar__element.active)  {
    border-radius: 0px;
  }
  .navbar__element.active + .navbar__element  {
    border-radius: 0px;
  }
}
