@import "../variables.scss";

.nav-bar {
  background-color: $navbar-BackgroundColor;
  color: $navbar-TextColorLight;
  border-radius: 25px;
  padding: 15px;
  height: 100%;
  transition: 1s;
}

@media only screen and (max-width: 900px) {
  .nav-bar {
    border-radius: 0px !important;
  }
}