.global-card {
  background-image: url('../../images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  transition: 1s;
  overflow-y: hidden;
  .default-layout {
    border-radius: 25px;
  }
}
@media only screen and (max-width: 900px) {
  .global-card {
    padding: 0px !important;
    overflow-y: auto !important;
  }
}

@media only screen and (max-width: 479px) {
  .global-card{
    .default-layout {
      border-radius: 0px !important;
    }
  }
}