@import "../variables.scss";

.statistics-card {
  border-radius: 25px;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 25px 20px;
  h2 {
    color: $text-color;
    font-weight: bold;
    font-size: 23px;
  }
  img {
    align-self: center;
  }
}
.statistics-card__content {
  height: 100%;
}